<?xml version="1.0" encoding="UTF-8"?>

<?pcf-stylesheet path="/xsl/main.xsl" params="is_nav=true;page_nav=articles" extension="html"?>

<!DOCTYPE document [ 
   <!ENTITY nbsp "&#160;">
   <!ENTITY copy "&#169;">
   <!ENTITY trade "&#8482;">
]> 


<page xmlns:ouc="http://www.iconkraft.com">

	

	<content>
	   <ouc:div label="title" group="Everyone" button="464" >
	      <ouc:editor wysiwyg="yes" />
	         <h1>Articles</h1>
	         <h2>Alexander Sensei's Dragon Times Articles</h2>
			<p>The following articles written by Alexander Sensei originally appeared
			in <a href="http://www.dragon-tsunami.org/">Dragon Times</a> magazine.</p>

			<ol>
			  <li>
			    <a href="/articles/budo.html">Budo - The Martial Way</a>.
			  </li>
			  <li>
			    <a href="/articles/competition.html">Aikido and Competition</a>.
			  </li>
			  <li>
			    <a href="/articles/levels.html">Levels of Technique in Aikido Training</a>.
			  </li>
			  <li>
			    <a href="/articles/offense.html">Offensive Techniques in Aikido</a>.
			  </li>
			  <li>
			    <a href="/articles/resist.html">Constructive and Counterproductive Use of Resistance in Aikido Training</a>.
			  </li>
			</ol>

			<h2>Alexander Sensei's Unpublished Articles</h2>
			<p>The following articles were written by Alexander Sensei in the last
			1990s. It is unknown if they have ever been published before.</p>

			<ol>
			  <li>
			    <a href="/articles/kokyuryoku.html">Kokyu Ryoku</a>.
			  </li>
			  <li>
			    <a href="/articles/awase.html">Awase - The Principle of Aiki</a>.
			  </li>
			</ol>

			<h2><a href="/articles/iwamawisdom.html">Tales From Iwama</a></h2>
			<p>David Alexander Sensei had the rare, invaluable experience of training in Iwama in the 1970s. Not only did he get to spend 10 years training under Saito Sensei, but he got to spend those particular 10 years training with Saito Sensei while Saito Sensei was in his prime. No other foreign student had the advantage of staying in Iwama that long at that particular period of time.</p>
			<p>Luckily, Alexander Sensei has agreed to share some of his experiences with the rest of us. This section of the website will be a forum for him to share some of the wisdom and anecdotes he took from his training in Iwama.</p>

			<h2>Interviews</h2>
			<ol>
			  <li>
			    <a href="/articles/saito_interview.html">Saito Sensei Interview by Mats Alexandersson</a>.
			  </li>
			</ol>
			
	   </ouc:div>
	</content>

</page>
