<?xml version="1.0" encoding="UTF-8"?>

<?pcf-stylesheet path="/xsl/main.xsl" params="is_nav=true;page_nav=articles" extension="html"?>

<!DOCTYPE document [ 
   <!ENTITY nbsp "&#160;">
   <!ENTITY copy "&#169;">
   <!ENTITY trade "&#8482;">
]> 


<page xmlns:ouc="http://www.iconkraft.com">

	<content>
	   <ouc:div label="title" group="Everyone" button="464" >
	      <ouc:editor wysiwyg="yes" />

<h1>Kokyu Ryoku</h1>
<div>
<p>Much has been written about "KI (spirit)" in books and articles on Aikido.  In fact, it would be hard to avoid addressing KI because the name of the art itself means "Way of Uniting with KI".</p>

<p>There is another aspect of Aikido which has not been widely addressed, and many practitioners have not even heard of it.  KOKYU RYOKU is generally translated as "Abdominal Breath Power".  Although this is not a direct translation (KOKYU means "breath" and RYOKU means "power"), it is actually quite descriptive because KOKYU RYOKU is a force or feeling that originates in the HARA (abdomen) and flows through the body.</p>

<p>The word KOKYU per se does appear in many Aikido texts as part of the name of a technique, e.g. KOKYU-HO (a sitting exercise), KOKYU-NAGE (breath throw), etc.  KOKYU-NAGE refers to a large variety of throwing techniques based on the KOKYU movement, and the term "KOKYU-NAGE variation" has become a catch-all for techniques which do not have any other name.</p>

<p>One of the few books that does address KOKYU, although briefly, is "The Essence of Aikido", by John Stevens, Kodansha International Ltd., 1993, pp. 151.  Stevens writes that "KOKYU-HO (the way of KOKYU) or 'breath power techniques,' constitute the fourth pillar of Aikido.  Morihei (the founder of Aikido) said 'Breath is the thread that ties creation together.  When the myriad variations of breath in the universe can be sensed, the individual techniques of Aikido are born.'  In the old days, KOKYU-HO techniques, thought to contain the secret of true power, were never taught publicly."</p>

<p>As of the present time, KI and KOKYU RYOKU cannot be explained in the context of intellectual reason or science.  However, it is my humble observation that KI and KOKYU RYOKU are different, but complementary entities.  Whereas KI relates to unity of a person's consciousness with that of another human being and/or the spirit of the universe (the essence is SATORI or "spiritual enlightenment"), KOKYU RYOKU is physically oriented and flows through the body.</p>

<p>Although KOKYU means "breath", KOKYU RYOKU is not associated with respiration in the context of breathing air.  In fact, a person can be simultaneously inhaling and directing KOKYU RYOKU out the handblades or any other part of the body.  I do not know if KOKYU RYOKU is a paranormal force which has yet to be explained, or is a feeling or state of mind.</p>

<p>KOKYU RYOKU is something that originates in the HARA and gushes out through the entire body.  It is non-directional per se.  When a person performs a technique, KOKYU RYOKU is focused in a direction which augments the flow of the technique.  The classical direction for flow is out the handblades, although other directions are associated with different techniques.</p>

<p>The basic KOKYU exercise is sitting <a href="movies/sensei/sitkokyulg.mov">KOKYU-HO</a>, which consists of one training partner grasping both wrists of another training partner, who then pushes over the person who is grasping.  This exercise is a pure application of the KOKYU movement, which consists of lowering the elbows, rotating the handblades out, and pushing forward with the handblades.  If a person has acquired KOKYU RYOKU, it will be directed out the handblades and augment the pushing force.</p>

<p>The KOKYU movement itself is derived from raising and cutting with the sword.  It is inherent in both of these movements.  KOKYU-NAGE refers to any technique which incorporates the KOKYU movement.  However, it also relates to techniques which do not explicitly include the KOKYU movement with the handblades but are associated with the feeling of KOKYU.</p>

<p>KOKYU RYOKU is acquired through many years of hard training in correct technique.  Although the founder of Aikido, Morihei Ueshiba O-Sensei, was very religious, he once told my teacher, Morihiro Saito Sensei, that a person did not have to be religious to learn Aikido.  O-Sensei said that he incorporated the essence of his religious pursuits into the Aikido techniques, and that if a person correctly executes these techniques he or she will be moving in harmony with the spirit of the universe (KI).  Performing these movements purifies the mind, body and spirit and guides the person closer to KI, little by little, day by day.</p>

<p>Aikido technical training also develops KOKYU RYOKU.  At some point in training, KOKYU RYOKU will start to come out by itself.  As with KI, there is no way to force KOKYU out artificially.  Once acquired, KOKYU RYOKU feels like something flowing through the body, and is unmistakable.  Its ability to augment Aikido technique is dramatic.  Consider trying to cut a stick of frozen butter with a dull knife.  It is hard.  Then, heat the knife to a high temperature and try again.  The knife glides through the butter effortlessly.  This is like performing a technique with KOKYU RYOKU.</p>

<p>Although KOKYU RYOKU is not associated with respiration of air, there is a link with relaxation.  KOKYU RYOKU will not come out if a person is struggling using tense muscles.  KOKYU RYOKU generally starts to come out when a person has become strong in technique to the point at which he or she does not have to struggle hard to make the techniques work.  Then, the body starts to relax, KOKYU RYOKU comes out, and the techniques become easier or even effortless.  As such, Aikido techniques reach a point at which they do not require muscular power.</p>

<p>Aikido is a path that has no end.  It is something that a person can study their entire life and constantly discover new and interesting aspects to explore and develop.  Although this is a blessing, it is also a source of frustration in that progress can be slow and involve numerous learning plateaus.  The terms "learn Aikido" and "instant gratification" are an oxymoron.</p>

<p>It is important to understand that consciously trying to get KOKYU RYOKU or KI will not produce the desired results, but only frustration.  It is therefore best to enjoy training every day, and not think about things that will come by themselves when the time is right.  Aikido training, among its many other benefits including self-defense, self-improvement, physical fitness, camaraderie, etc., is fun.  After all, where else can you twist peoples' wrists and throw them down hard every day and not get arrested or sued?</p>
</div>
	   </ouc:div>
	</content>

</page>
