<?xml version="1.0" encoding="UTF-8"?>

<?pcf-stylesheet path="/xsl/main.xsl" params="is_nav=true;page_nav=articles" extension="html"?>

<!DOCTYPE document [ 
   <!ENTITY nbsp "&#160;">
   <!ENTITY copy "&#169;">
   <!ENTITY trade "&#8482;">
]> 


<page xmlns:ouc="http://www.iconkraft.com">

	<content>
	   <ouc:div label="title" group="Everyone" button="464" >
	      <ouc:editor wysiwyg="yes" />
<h1>Offensive Technique in Aikido</h1>

<div>
	<h2>Introduction</h2>

	<p>The general perception of Aikido is that it is a purely defensive
	martial art, and that there are no offensive techniques. In fact, Aikido is
	not so limited.</p>

	<p>As described in a previous article in Dragon Times, there are four
	levels of technique in Aikido:</p>

	<ol class="a">
		<li>KATAI (rigid)</li>

		<li>YAWARAKAI (resilient)</li>

		<li>KI-NO-NAGARE (flowing)</li>

		<li>KI (spirit)</li>
	</ol>

	<p>Level 1 is where most training should take place. The practice consists
	of a first training partner attacking a second training partner with a grip
	or strike, and the second partner performing a technique to neutralize the
	attack. The roles are then reversed, with the partners taking turns being
	the attacker and defender. In this form of training, the attacker is
	allowed to get a rigid grip on the defender before the defender begins the
	defensive technique. This is training to the hilt, because the defender
	must overcome the entire power of the attacker, who knows in advance which
	technique the defender is going to use.</p>

	<p>Level 3 is similar to level 1, but the defender does not wait until the
	attacker gets a strong grip. Instead, the defender starts moving into the
	defensive technique as the attacker is in the process of gripping. This
	form of technique is flowing in that the attacker is led forward by his own
	determination to secure the grip.</p>

	<p>Level 2 can be considered a transition between levels 1 and 3. In level
	2, the defender is overwhelmed by the attacker's power and gives in
	resiliently like bamboo bending in the wind.</p>

	<p>In all three of these levels, the defender merges into the attacker's
	power and takes control, more specifically transforming the original
	attacking movement into a new movement which results in the attacker being
	thrown or pinned. This the principle of AIKI, known in Japanese as AWASE
	(coming together) or KI NO MUSUBI (link of spirit).</p>

	<p>Levels 1 to 3 are the basic training in Aikido, and can be compared to
	learning the alphabet and basic grammar of a language. The defensive part
	of the training is generally static, as the defender waits for a physical
	attack before initiating a defense.</p>

	<p>Level 4 is where the defender's spirit and the attacker's spirit are
	one, and the defender is able to sense and control all movements of the
	attacker. In the words of Aikido founder O-Sensei Morihei Uyeshiba, "All I
	have to do is stand with my back facing the opponent. If the opponent tries
	to strike at me, his will to strike will hit and hurt himself. I am
	integrated with the universe, I possess nothing. When I stand up, I absorb
	my opponent."</p>

	<p>Although level 4 is the ultimate in Aikido, it is very hard to attain,
	and to the best of my knowledge only O-Sensei and perhaps a very few others
	have reached it. The rest of us should not think about it, and train
	diligently in levels 1 to 3 to improve ourselves little by little, one day
	at a time.</p>

	<p></p>

	<h2>An Exemplary Gateway</h2>

	<p>SHOMEN-UCHI IKKYO is one of the most basic techniques in Aikido. It
	consists of gripping an attacker's arm with both hands and pinning him face
	down. This technique can, and is in a number of schools, performed in
	response to a straight overhead strike (SHOMEN-UCHI). As such, the scenario
	is static defense as presented above.</p>

	<p>However, O-Sensei and my teacher Morihiro Saito do not perform the
	technique this way. As taught by O-Sensei "Step out on your right foot and
	strike directly at your opponent's face with your right TEGATANA
	(handblade) and punch his ribs with your left fist." Budo, Teachings of the
	Founder of Aikido, translation by John Stevens, Kodansha America, Inc.
	1991, page 41. Saito-Sensei teaches "The basic rule calls for your
	initiating a strike of your own prior to your partner's and grabbing his
	hand has he tries to parry your blow. By taking the initiative you will be
	leading the hand of your partner out into your own sphere of action."
	Aikido, Volume III, by Morihiro Saito, Minato Research &amp; Publishing
	Co., Ltd., 1974, page 40.</p>

	<p>This concept is not static defense. The defender initiates the
	engagement with a strike to the attacker's face. The attacker then has two
	choices; do nothing and get hit, or raise his arm in front of his face to
	block the strike. This latter movement is what is desired, and places the
	attacker's arm in the proper position for an IKKYO pinning grip. In other
	words, the defender calls out the attacker by inducing him to move in a
	desired way, and then merges into this movement and takes control in
	accordance with the principle of AIKI.</p>

	<p>It is highly relevant that one of the most basic techniques in Aikido,
	as taught by the founder and his most long-time student, begins with an
	offensive strike. SHOMEN-UCHI IKKYO is not an isolated example. This is
	downplayed in basic training, but demonstrates clearly that the roots of
	Aikido run much deeper than static defense.</p>

	<h2>Reality</h2>

	<p>Aikido is a martial art that is especially concerned with self-defense.
	The first premise of self-defense is to walk away from a violent or
	potentially violent engagement as intact as possible. The main tools of
	self-defense are awareness and avoidance. If these tools fail and a person
	is physically attacked by a violent individual or group, the situation can
	be extremely dangerous and potentially lethal.</p>

	<p>Physical self-defense techniques should never be limited to static
	defense. Especially in the case of an engagement involving multiple
	attackers who may be armed with deadly weapons, the odds are strongly in
	favor of the attackers. The difference between life and death can depend on
	a defender's ability to reduce the odds by preempting an initial
	attack.</p>

	<h2>Conclusion</h2>

	<p>Although basic Aikido training consists of static defense, the gateway
	to offensive application of technique is in plain sight and leads to
	another dimension of the art. Offensive technique should never, of course,
	be used to commit unprovoked attacks on innocent people. However, in some
	situations the only potentially successful defense is a strong offense, and
	the scope of Aikido fortunately provides this capability.</p>
</div>
	   </ouc:div>
	</content>

</page>
