<?xml version="1.0" encoding="utf-8"?>
<?pcf-stylesheet path="/_resources/xsl/default.xsl" extension="html"?>
<!DOCTYPE document SYSTEM "http://www.gallenauniversity.com/_resources/dtd/standard.dtd">
<document>
<config>
   <!-- com.omniupdate.properties -->
   <parameter name="color" type="select" group="Everyone">
   <!--%echo encoding="none" var="color" -->
   </parameter>
   <parameter name="keywords" type="checkbox" group="Everyone">
   <!--%echo encoding="none" var="keywords" -->
   </parameter>
   <parameter name="description" type="text" group="Everyone">
   <!--%echo var="description" -->
   </parameter>
   <parameter name="fullpage" type="radio" group="Everyone">
   <!--%echo encoding="none" var="fullpage" -->
   </parameter>
   <!-- /com.omniupdate.properties -->
</config>
   <!-- com.omniupdate.properties -->
   <title><!--%echo var="title" --></title>
   <!-- /com.omniupdate.properties -->
<content>
</content>
</document>